/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

/* black */

.svcContainer {
	backgroundColor: #ffffff;
	backgroundAlpha: 1;
	cornerRadius: 4;
	borderWeight: 4;
	borderColor: #ffffff;
	borderAlpha: 0;
}

.videoContainer {
	backgroundColor: #ffffff;
	backgroundAlpha: 0.8;
	cornerRadius: 4;
	borderWeight: 4;
	borderColor: #ffffff;
	borderAlpha: 0;
}

.statusContainer {
	backgroundColor: #000000;
	backgroundAlpha: 0;
	cornerRadius: 4;
	borderWeight: 4;
	borderColor: #ffffff;
	borderAlpha: 0;
	color: #333333;
}

.chatContainer {
	backgroundColor: #000000;
	backgroundAlpha: 0.1;
	cornerRadius: 4;
	borderWeight: 4;
	borderColor: #ffffff;
	borderAlpha: 0;
}

.chatOutput {
	contentBackgroundAlpha: 0;
	borderAlpha: 0;
	color: #e07e00;
}

.chatInput {
	focusAlpha: 0.9;
}

.svcButton {
	bottom: 5;
	right: 5; 
}

.findNextButton {
	top: 18;
	right: 20;
}

.loader {
	top: 92;
	right: 132;
}
